{
  "companyName": "Company Name goes here..",
  "smtp": {
    "host": "SMTP Host goes here",
    "port": "SMTP Port goes here",
    "user": "SMTP User goes here",
    "pass": "SMTP Password goes here",
    "mail": "SMTP Mail goes here"
  }
}